$blue: #2997ff;
$blue20: rgba($blue, 0.2);
$white: #fff;
$black: #000;
$black20: rgba($black, 0.2);
$black50: rgba($black, 0.5);
$bg-gray: #1c1c1e;
$gray: #d9d9d9;
$gray-card: #e4e4e4;

$grid-max-width: 1410px;

$primary-font-regular: "GT-Walsheim-Regular", sans-serif;
$primary-font-thin: "GT-Walsheim-Medium", sans-serif;
