.faq-question {
  border-bottom: 1px solid $black;
  margin-bottom: 32px;

  &-button {
    background-color: transparent;
    width: 100%;
    justify-content: unset;
    padding: 0;
    border-radius: 0;
    margin-bottom: 24px;
    text-align: left;

    &-question {
      width: 100%;
    }

    svg {
      height: 24px;
      width: 24px;
      stroke: $black;
    }

    &--open {
      margin-bottom: 12px;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &-answer {
    margin-bottom: 24px;
  }
}
