.app-section {
  background-color: $blue20;
  border: 1px solid $blue;
  border-radius: 32px;
  padding: 72px 32px;
  max-width: $grid-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 72px;
  color: $white;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-price {
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

    sup,
    sub {
      font-size: 50px;
      line-height: 120%;
      width: min-content;
    }

    sup {
      margin-bottom: 80px;
    }

    sub {
      margin-top: 80px;
    }

    p {
      font-size: 150px;
      width: min-content;
    }
  }
}
